/*
------------------------------------
REDEFINITIONS
------------------------------------
*/


.h1 {
    font-family: Federo;
    font-size: 3.5em; 
    line-height: 1em;
    margin: .67em 0em;
    display: block;
    color: #45360F;    
    }

.container {
    position: relative;
    }

.topright {
    position: absolute;
    bottom: -1em;
    right: 1em;
    font-family: Opensans;
    letter-spacing: -2px;
    font-weight: 700;
    font-size: 3em;
    color: #ffffff;
    }

.topcenter {
    position: absolute;
    top: 1em;
    font-family: federo;
    letter-spacing: -1px;
    font-weight: 600px;
    font-size: 3em;
    line-height: 1em;
    color: #45360F;
    }

.h2 {
    font-size: 1.5em; 
    margin: .75em 0;
    font-weight: bold;
    display: block
    }

.h3 {
    font-size: 1.17em; 
    margin: .83em 0;
    font-weight: bold;
    display: block
    }

.h4 {
    font-size: 1em; 
    margin: 1.09em 0;
    font-weight: bold;
    display: block
    }
    
a:link {
    color: #C76000;
}

a:visited {
    color: #C76000;
}

a:hover {
    color: #C76000;
}

a:active {
    color: #00AAFF;    
}   
    
/*
------------------------------------
HTML OBJECT DEFINITIONS
------------------------------------
*/
html{
	padding: 0;
    margin: 0;
	}

body {
    font-size: 1em;
    height:auto;
    width:auto;
    padding: 0;
    margin: 0;
    }
    
section{
    padding: 4em 0em;
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.99);
	-moz-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.99);
	box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.99);
    }
    
article{
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 800px;
    margin: auto;
    }
 
.heading{
    font-size: 2em; 
    margin: .5em 0em 1em 0em;
    font-weight: bold;
    display: block
	}
	
.top {
	position: relative;
	top: 200px;
	margin: auto;
	height: 70px;
	}

.title{
	position:relative;
	top: 240px;
	text-rendering: optimizeLegibility;
	font-size: 3.6em;
	}
	
.subtitle{
	position:relative;
	top:242px;
	font-size: 2em;
	margin: auto;
	}

.contentid {
    font-size: 4em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100px;
    color: #45360F;
    letter-spacing: -4px;
    }

.worksubtitle{
    font-size: 1.2em;
    color: #C76000;
    line-height: 1.5em;
    display: block;
    }

#banner {
	position: relative;
	height:700px;
	margin:0em;
	padding:0em;
	}

#wrapper {
    position: relative;
	margin:0em;
	padding:0em;
	
    }

#worklist {
    position:relative;
    height: 200px;
    }

#worklist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    }

#worklist li, #worklist a {
    height: 200px;
    display: block;
    }

#sample1 {
    left:40px;
    width:200px;
    background: url('icons/main TotR icon.png') 0 0;
    }

#sample2 {
    left: 300px;
    width: 200px;
    background: url('icons/main herenow icon.png') 200px 0;
    }

#sample3 {
    left: 560px;
    width: 200px;
    background: url('icons/main converse icon.png') 400px 0;
    }

#sample4 {
    left: 40px;
    width: 200px;
    background: url('icons/main ge icon.png') 400px 0;
    }

#sample5 {
    left: 300px;
    width: 200px;
    background: url('icons/main heineken icon.png') 400px 0;
    }

#sample6 {
    left: 560px;
    width: 200px;
    background: url('icons/main luxuria icon.png') 400px 0;
    }

#sample1 a:hover {
    background: transparent url('icons/TotR-icon.png') 0 200px;
    }
                    
#sample2 a:hover {
    background: transparent url('icons/tjb.png') 200px 200px;
    }

#sample3 a:hover {
    background: transparent url('icons/converse logo.png') 200px 200px;
    }

#sample4 a:hover {
    background: transparent url('icons/ge icon.png') 200px 200px;
    }

#sample5 a:hover {
    background: transparent url('icons/heineken logo.png') 200px 200px;
    }

#sample6 a:hover {
    background: transparent url('icons/luxuria logo.png') 200px 200px;
    }

a {
    text-decoration: none
  }

p 	{
	margin: 1em 0em 2em 0em;	
	}
	
.float-right{
    float: right;
    }

.float-left {
	float: left;
	}

table {
	margin: 0em 1em 0em 1em; 
	}

.abouttr {
    margin-right: -100px;
}

.abouttd {
	position: relative;
	padding-left: 2em;
    padding-right: 1.5em;
	}

.td {
	padding-bottom: 1em; 
	padding-left: .2em;
	} 

.tdd {
	padding-left: 3em;
	padding-bottom: 2em;
	}	

td {
	padding-left: 2em;
    padding-right: em;
	
	}
  
.icons {
	padding: 0em .5em;
	height: 30px;
    margin-bottom: 2.5em;
	}   

.worklogos {
    padding-bottom: 1.5em;
    padding-right: 1.8em;
    padding-left: 1.8em;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position;
    }

.img {
    height: auto;
    width: 100%;
    margin-top: -4em;
    margin-bottom: -4em;
    }

.fade {
    opacity: .5;
    position: absolute;
    transition-property: all;
    }

.btn-custom {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #F9f9f9;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 48%; /* auto */
    text-align: center;
    background: none repeat scroll 0 0 #453200;
    }


/*
------------------------------------
FONT DEFINITIONS
------------------------------------
*/

.bodoni {
	font-family: Federo;
	}

.opensans {
	font-family: Open Sans;
	}

.huge_txt {
    font-size: 1.8em;
    }

.large_txt{
    font-size: 1.2em;
    }

.medium_txt{
    font-size: 1em;
    }

.thin{
    font-weight: 100;   
    }


/*
------------------------------------
COLOR DEFINITIONS
------------------------------------
*/

.bggray{
	background-color: #f9f9f9;
	}

.bgwhite{ 
	background-color: #ffffff;
	}
	
.brown {
	color: #45360F;	

/*